.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f6f2;
}

.auth-card {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.auth-card button {
  width: 100%;
  padding: 12px;
  background: #2e7d32;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.auth-card p {
  text-align: center;
  margin-top: 15px;
}

.auth-card span {
  color: #2e7d32;
  cursor: pointer;
  font-weight: bold;
}
